%div{data: { controller: 'todo'}}
  = form_with model: TodoList.new, data: {'todo-target' => 'form'} do |f|
    .flex
      = f.text_field :label, data: { 'todo-target' => 'input' }, placeholder: 'New List...', autocomplete: 'off'
      = f.button class: ['ml-2 px-4 border'] do
        %i.fas.fa-plus