.flex.h-full
  .flex-col.w-56.mt-5.grow{ class: "border-[#a9c6ff]" }
    .mb-5.px-5
      = render partial: "todo_lists/new_form"
      = turbo_frame_tag "todo_lists" do
        = render partial: "shared/todo_list", collection: @todo_lists