.border-t-8{class: 'border-[#77a5ff]'}
  .p-5
    .flex.justify-between
      %h1
        Dashy McDashboard
      - if logged_in?
        .flex
          = button_to "Logout", session_path, method: :delete
      - else
        .flex
          = link_to "Register", registration_path
          %span /
          = link_to "Login", login_path