.border-t-8.hidden.md:block{class: 'border-[#77a5ff]'}
  .p-5
    .justify-between.hidden.md:flex
      %h1.text-xl
        Dashy McDashboard
      - if logged_in?
        .flex
          = button_to "Logout", session_path, method: :delete
      - else
        .flex
          = link_to "Register", registration_path
          %span /
          = link_to "Login", login_path