.flex.border.sticky
  %button.grow.border-r.pt-2.pb-2
    - if logged_in?
      = link_to "Lists", todo_lists_path
    - else
      = link_to "Register", registration_path
  .flex.grow.pt-2.pb-2.justify-center
    - if logged_in?
      = button_to "Logout", session_path, method: :delete
    - else
      = link_to "Login", login_path