.flex.flex-col.grow.items-center.justify-center
  = form_with url: "/session", method: :post, class: 'flex flex-col w-2/5' do |form|
    = form.email_field :email, class: ['mb-2']
    = form.password_field :password, class: ['mb-2']
    = form.submit "Login", class: ['border-solid', 'border-2']