= turbo_frame_tag dom_id(todo) do
  .flex.justify-between.p-2.mb-1.border.border-slate-300{class: ('line-through' if todo.completed_at)}
    = todo.description
    = button_to "X", todo_list_todo_path(@todo_list, todo), method: :delete