@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
  a {
    color: #5197ff;
  }
  a:hover {
    text-decoration: underline;
  }
  input[type='text'] {
    border-color: #a9c6ff;
  }
}
