@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
  html {
    color: #4a4343;
  }
  i:before {
    color: #626262;
  }
  a {
    color: #5197ff;
  }
  a:hover {
    text-decoration: underline;
  }
  input {
    width: 100%;
  }
  input[type='email'], input[type='password'], input[type='text'], input[type='checkbox'] {
    border-color: #b3b3b3;
  }
  input[type='submit'] {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: solid 1px #b3b3b3;
  }
  input[type='submit']:hover {
    cursor: pointer;
  }
}
